<div>
    <nav>
        <a href="/">Home</a>
        <a href="/price_plans">Price plans</a>
        <a href="/link_user">Link user</a>
    </nav>
    
    <table class="table">
        <th></th>
        <th></th>
        <tr>
            <td><h4>SMS 100</h4></td>
            <td><a href="/price_plans/:id">View users</a></td>
        </tr>
         <tr>
            <td><h4>CALL 100</h4></td>
            <td><a href="/price_plans/:id">View users</a></td>
        </tr>
         <tr>
            <td><h4>TEXT ME</h4></td>
            <td><a href="/price_plans/:id">View users</a></td>
        </tr>
      
    <table>
</div>